/* Master styles */
body {
	margin: 0px;
}

	/* css grid */
.container {
	display: grid;
	grid-template-columns: 1fr; /* fractional unit */
}

/* Nav styles */
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.left-side {
	display: flex;
}

	/* traverse tree in css */
.nav-wrapper > .left-side > div {
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

	/* underline blinking when hover */
.nav-link-wrapper {
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}

	/* sudo state */
.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover {
	color: black;
}

/* Porfolio styles */
.porfolio-items-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.porfolio-item-wrapper {
	position: relative;
}

.porfolio-img-background {
	height: 350px;
	weight: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
